@media screen and (max-width = 700px){

    .skills{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    section.desktop{
        display: none;
    }
}